*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */

    /* Primary */

    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /* Neutral */

    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(220, 22%, 16%);
}

/* Raiz */
html{
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 16px;
}

.container{
    align-items: center;
    background-color: var(--dark-blue);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

/* Diseño responsive: mobile first */
.card{
    align-items: center;
    background-color: var(--dark-grayish-blue);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 4rem 0;
    position: relative;
    width: 91.5%;
}

.title{
    color: var(--neon-green);
    display: none;
    font-family: 'Manrope', sans-serif;
    font-size: .7rem;
    font-weight: 800;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: uppercase;
}

.txt-advice{
    animation: advice-effect 1s ease forwards;
    transform: translateX(-10%);
    opacity: 0;

    color: var(--light-cyan);
    display: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1.45rem;
    line-height: 33px;
    margin-top: 1.55rem;
    padding: 0 1.5rem;
    text-align: center;
}

.pattern-m{
    margin-top: 1.5rem;
}

.pattern-d{
    display: none;
}

.btn-advice{
    background-color: var(--neon-green);
    border-radius: 50%;
    border: none;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    position: absolute;
    transform: translateY(50%);
}

.btn-advice:hover{
    box-shadow: 0 0 2.5rem hsl(150, 100%, 66%);
    transition-duration: .5s;
}

.btn-advice:active{
    background-color: hsla(150, 100%, 66%, 0.496);
    transition-duration: .25s;
}

/* Diseño desktop 1440px */

@media screen and (min-width: 850px){
    .card{
        border-radius: 1rem;
        padding: 2.95rem 0 4.5rem 0;
        position: relative;
        width: 37.5%;
    }

    .title{
        font-size: .9rem;
    }

    .txt-advice{
        font-size: 1.7rem;
        line-height: 38px;
        padding: 0 3rem;
    }
}

@media screen and (min-width: 1245px) {
    .pattern-m{
        display: none;
    }

    .pattern-d{
        display: flex;
        margin-top: 2.45rem;
    }  
}



/* Animaciones */

@keyframes advice-effect {
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

/*  Loader  */

.loader {
    font-size: 6px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: var(--light-cyan);
    background: -moz-linear-gradient(left, #cee3e9 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #cee3e9 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #cee3e9 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #cee3e9 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #cee3e9 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: var(--light-cyan);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: var(--dark-grayish-blue);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  