/* Diseño mobile first (375px) */

.card {
  align-items: center;
  background-color: $dark-grayish-blue;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0 4rem 0;
  position: relative;
  width: 91.5%;

  .title {
    color: $neon-green;
    display: none;
    font-family: "Manrope", sans-serif;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .txt-advice {
    animation: advice-effect 1s ease forwards;
    transform: translateX(-10%);
    opacity: 0;

    color: $light-cyan;
    display: none;
    font-family: "Manrope", sans-serif;
    font-size: 1.45rem;
    line-height: 33px;
    margin-top: 1.55rem;
    padding: 0 1.5rem;
    text-align: center;
  }

  .pattern-m {
    margin-top: 1.5rem;
  }

  .pattern-d {
    display: none;
  }

  .btn-advice {
    background-color: $neon-green;
    border-radius: 50%;
    border: none;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    position: absolute;
    transform: translateY(50%);

    &:hover {
      box-shadow: 0 0 2.5rem hsl(150, 100%, 66%);
      transition-duration: 0.5s;
    }

    &:active {
      background-color: hsla(150, 100%, 66%, 0.496);
      transition-duration: 0.25s;
    }
  }
}
